body {
	margin: 20px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}

h1 {
	font-size: 20pt;
	text-align: center;
}

hr {
	border: 0;
	color: #aaa;
	background-color: #aaa;
	height: 2px;
	width: 700px;
	text-align: left;
}

#map_canvas {
	margin: 0 auto 0 auto;
	font-size: 14px;
	text-align: center;
	vertical-align: top;
	width: 700px;
	height: 500px;
	border: 2px solid #aaa;
}

#menu {
	margin: 10px auto;
	width: 704px;
}

#menu td {
	padding: 0;
}

.nav {
	text-align: center;
}

div.trafficmarker {
	border: 0px solid;
	position: absolute;
	padding: 0px;
	filter: alpha(opacity =             75);
	opacity: 0.75;
}

#options {
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	width: 702px;
	border: 2px solid #aaa;
	border-collapse: collapse;
	border-bottom: 0px;
}

#options td,#options tr {
	padding: 4px;
	margin: 0px;
	text-align: left;
	background: #eee;
}

.optionlabel {
	font-weight: bold;
}

.sstable {
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.sstable td {
	padding: 4px;
}
.sstable img {
	border: 1px solid black;
}
#telemetry {
	border: 1px solid black;
	position: relative;
	padding: 2px;
	width: 100px;
	background: #fff;
	font-size: 8px;
	text-align: left;
}