body {
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	
	/* disable font resizing */
	-webkit-text-size-adjust: none; 
}

body[class="portrait"] 
{

}

body[class="landscapeLeft"] .button  
{

}

body[class="landscapeRight"] 
{
}


#header {
background:white;
border-bottom:1px solid #A0B6E6;
font-family:helvetica,arial,sans-serif;
height:30px;
white-space:nowrap;

}



#map_canvas {
	margin: 0 auto;
	font-size:14px;
	text-align:center;
	vertical-align:top;
}

img.loading {
margin: 100px 0 0 0;
text-align:center
}
p.loading {
text-align:center;
font-size:18px;
}